# Server
PORT=3000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://localhost:27017/rbac_otp_db

# JWT
JWT_SECRET=super_secret_jwt_key_2024
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=super_secret_refresh_key_2024
JWT_REFRESH_EXPIRES_IN=7d

# OTP
OTP_EXPIRY_MINUTES=1
